.faq {
    padding: 50px;
    background-color: #111111;
    color: white;
  }
  .faq h1{
    font-size: 20px;
    padding-left: 100px;
  }
  
  .faq__container {
    margin: 20px 0;
    width: 90%;
    padding-left: 100px;
  }
  
  .faq__item {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }
 
  
  .faq__question h2 {
    font-size: 20px;
  }
 
  
  .faq__question span {
    font-size: 20px;
  }
  .faq {
    padding: 50px;
    background-color: #111;
    color: white;
  }
  
  .faq__container {
    margin: 20px 0;
  }
  
  .faq__item {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }
  .faq__question:hover {
    border: 1px solid white;
    background-color: #3d3d3d;
  }
  
  .faq__question h2 {
    font-size: 25px;
  }
  
  .faq__question span {
    font-size: 40px;
  }
  
  .faq__item p {
    padding: 20px;
    background-color: #333;
    font-size: 20px; 
  }  

  @media (max-width: 600px) {
    .faq__container {
      margin: 20px 0;
      width: 90%;
      
    }
    .faq h1{
      font-size: 20px;
      padding-left: 30px;
    }
    
    .faq__container {
      margin: 20px 0;
      width: 100%;
      padding-left: 20px;
    }
     
  .faq__question h2 {
    font-size: 12px;
  }
  
  .faq__question span {
    font-size: 20px;
  }
  
  .faq__item p {
    padding: 20px;
    background-color: #333;
    font-size: 12px; 
  }      
  }
