.movie-section {
    position: relative;
    background: linear-gradient(to top, #111111, #111111);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding-top: 30px;
    overflow: hidden;
  }
  .movie-section::before {
  content: '';
  position: absolute;
  top: -110px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, #1c2857, transparent);
  border-radius: 0 0 100% 100% / 100% 100% 0 0;
  z-index: 1;
}

  .movie-section h2 {
    margin-top: 40px;
    margin-left: 130px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;

  
  }
  .movie-slider {
    display: flex;
    align-items: center; 
    gap: 20px; 
    position: relative;
    width: 75%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
  }
  .slider-container {
    display: flex;
    gap: 25px;
    transition: transform 0.4s ease-in-out;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .slider-container::-webkit-scrollbar {
    display: none;
  }
  .movie-card {
    position: relative;
    min-width: 170px;
    border-radius: 10px;
    overflow: visible;
    padding-left: 10px;
  }
  .movie-card img:hover {
    transform: scale(1.1);
  }
  
  .movie-card img {
   height: 240px;
    width: 170px;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  .rank {
    position: absolute;
    bottom: 0;
    left: -10px;
    font-size: 100px;
    color:black;
    font-weight: bold;
    z-index: 10;
    pointer-events: none;
    text-shadow: 
    2px 2px 0px white, 
   -2px 2px 0px white, 
    2px -2px 0px white, 
   -2px -2px 0px white;
  }
  .arrow {
    background-color: #363535;
    border: none;
    border-radius: 5px;
    padding: 50px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .arrow:hover {
    background-color:#7f7b7b;
  }
  .arrow.left {
    margin-right: -10px; 
  }
  
  .arrow.right {
    margin-left: -10px; 
  }
  .arrow::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
  }
  
  .arrow.left::before {
    transform: rotate(-135deg);
  }
  .hidden {
    display: none;
  }
  .all-about{
    align-items: center;   
    display: flex;
    justify-content: center;
    padding-left: 40px;
    
  }
  

  .all-about .about{
    background: linear-gradient(135deg, #1A1D3B, #210F19);
    min-height: 300px;
    width: 20%;
    border:none;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    margin-right: 10px;
    color: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  }

  .about h3{
    font-size: 25px;
  }
  .about p{
    font-size: 16px;
    font-weight: lighter;
  }
  
  @media (max-width: 600px) {
    .movie-section h2 {
      margin-left: 30px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 700;
    
    }
    .movie-card {
      display: flex;
      justify-content: center;
      gap: 30px;
      overflow-x: auto;
    }
    .movie-card img {
      width: 150px;
      height: 200px;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;
    }
    
    .movie-card img:hover {
      transform: scale(1.1);
    }
    .about{
      background-color: rgb(28,27,55);
      min-height: 150px;
      border:none;
      border-radius: 10px;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      
    }
    .all-about .about{
      background-color: rgb(28,27,55);
      min-height: 150px;
      width: 90%;
      border:none;
      border-radius: 10px;
      align-items: center;
      cursor: pointer;
    }
    .about h3{
      font-size:20px;
    }
    .about p{
      font-size: 16px;
      font-weight: lighter;
    }
  }
  